[core]
    editor = vim
[user]
    name = Kenneth Long
    email = kdlong@hep.wisc.edu
    github = kdlong
[push]
    default = simple
[alias]
    s = status
    c = commit
    b = branch --verbose
    co = checkout
    unstage = reset HEAD --
    l = log --decorate --stat
